footer#colophon.site-footer(role='contentinfo')
  .footer-wrapper.container
    .row
      .sidebar.footer-sidebar.clearfix
        .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.last.footer-widget
        .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.first.footer-widget
          #meta.widget.widget_meta
            h3.widget-title About
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.last.footer-widget
          #get_touch.widget.widget_get_touch
            h3.widget-title Info
            p
              span Address:
              p  2627 Edge O Lake Dr
              p  Nashville, TN, 37217
            p
              span Phone:
              |  615-818-9354
            p
              span Email:
              a(href='mailto:bandmade@gmail.com')  bandmade@gmail.com
            ul.footer-tweet
              li.facebook
                a(href='http://www.facebook.com/loganwlvox')
                  i.fa.fa-facebook
              li.google-plus
                a(href='https://plus.google.com/103766331767965718629')
                  i.fa.fa-google-plus
              li.twitter
                a(href='http://www.twitter.com/GLoganDR')
                  i.fa.fa-twitter
        .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.last.footer-widget