.row(ng-hide='email')
  .col-xs-1
  .col-xs-3
    h1 Register
    br
    br
    form(role='form', novalidate, name='userForm')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='user.email', autofocus, required)
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength='3')
      dt(for='profileType') Profile Type
      dd
        label Musician &nbsp;
        input(type='radio', ng-model='user.profileType', value='Musician', required)
        label &nbsp; or &nbsp; Band &nbsp;
        input(type='radio', ng-model='user.profileType', value='Band', required)
        label &nbsp; or &nbsp; Producer &nbsp;
        input(type='radio', ng-model='user.profileType', value='Producer', required)
      button.btn.btn-primary(ng-show='userForm.$valid', ng-click='register()') Register
  .col-xs-8
br

