#frr-the-team.white
  .top-intro.users
    h4.section-title The Team
    p.section-intro
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      br
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
  #frr-the-team-wrap.container
    .row
      .col-lg-3.col-md-6.col-sm-12.frr_fade
        article#post-72.post.type-post
          .featured-image
            a(href='http://www.linkedin.com/pub/logan-richardson/38/906/4ab')
              img.img-circle.frr-team-img(alt='01 our team', src='assets/images/team_01.jpg')
          header.entry-header
            h2.entry-title
              | Logan Richardson
          .entry-excerpt
            | Founder/Creator/Developer
      .col-lg-3.col-md-6.col-sm-12.frr_fade
      .col-lg-3.col-md-6.col-sm-12.frr_fade
      .col-lg-3.col-md-6.col-sm-12.frr_fade
        article#post-73.post.type-post
          .featured-image
            a(href='http://www.linkedin.com/pub/david-boling/74/8b3/906')
              img.img-circle.frr-team-img(alt='02 our team', src='assets/images/team_02.jpg')
          header.entry-header
            h2.entry-title
              | Dave Boling
          .entry-excerpt
            | Creative Consultant
section#frr-facts.bortb
  #frr-facts-wrap.container
    .row
      #about-us-content.col-lg-7.col-md-7.col-sm-12.left-effect
        .frr-heading
          h3.frr-heading-tag About Us
          .heading-border
            .heading-border-inner-border
        p.first-content
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h3.about-us-title Occeaecat cupidatat non proident
        p
          | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #about-sidebar.col-lg-4.col-md-4.col-sm-12.right-effect.right
        #post-img.col-lg-12.col-md-12.col-sm-12
          img(src='assets/images/instrumentspile.jpg', alt='About')
    //
       End content-wrapper 